body{
    padding-top: 5vh;
    background-image: url("https://images.pexels.com/photos/6755277/pexels-photo-6755277.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position:inherit;
}
h3{
    text-align: center;
    padding-bottom: 8vh;
    font-weight: bold;
    font-size: 6vh;
}
h2{
    padding: 3vh;
    padding-bottom: 5vh;
    font-weight: bold;
    font-size: 6vh;
}
form{
    padding-left: 20vh;
    padding-right: 20vh;
    border: 0.5px solid black;
    border-radius: 30px;
    padding: 7vh;
}
.form-btn{
    text-align: center;
}
small{
    font-size: 1.2em;
    font-family: cursive;
}
form label{
    font-family: cursive;
}
